/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo3.jpg" );
    

}


.imagen1{

height: 289px;
width: 352px;
background-image: url("circuito1.jpg");



}

.imagen2{

    height: 288px;
width: 622px;
background-image: url(circuitos2.jpg);
background-repeat: no-repeat;
} 

.tsa1{

    height: 168px;
    width: 317px;
    background-image: url(images.jpg);

}

.anorexia{

    height: 612x;
    width: 855px;
    background-image: url(anorexia.jpg);
}

.bulimia{

    height: 336px;
    width: 492px;
    background-image: url(bulimia.jpg);
    background-repeat: no-repeat;
}
