/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo3.jpg" );
    

}


.imagen1{

height: 289px;
width: 352px;
background-image: url("circuito1.jpg");



}

.imagen2{

    height: 288px;
width: 622px;
background-image: url(circuitos2.jpg);
background-repeat: no-repeat;
} 

.tsa1{

    height: 168px;
    width: 317px;
    background-image: url(images.jpg);

}

.anorexia{

     height: 293px;
    width: 376px;
    background-image: url(anorexia.jpg);
    background-repeat: no-repeat;
}

.bulimia{

    height: 336px;
    width: 492px;
    background-image: url(bulimia.jpg);
    background-repeat: no-repeat;
}

.higieneoral{

    height: 340px;
    width: 599px;
    background-image: url(higieneoral.jpg)
}

.dormir{

    height: 333px;
    width: 462px;
    background-image: url(DORMIR.jpg);
    background-repeat: no-repeat;
}

.grasas{

    height: 300px;
    width: 452px;
    background-image: url(grasas.jpg);
    background-repeat: no-repeat;
}

.beberagua{

    height: 300px;
    width: 430px;
    background-image: url(beberagua.jpg);
    background-repeat: no-repeat;
}

.ejercicio{

    height: 300px;
    width: 500px;
    background-image: url(ejercicio.jpg);
}

.relaciones{

    height: 300px;
    width: 500px;
    background-image: url(relaciones.jpg);
}


.alcohol{

    height: 300px;
    width: 557px;
    background-image: url(alcohol.jpg);
}

.leer{
    height: 524px;
    width: 587px;
    background-image: url(leer.jpg);
    background-repeat: no-repeat;
}

.nofumar{

    height: 334px;
    width: 375px;
    background-image: url(nofumar.jpg);
}


.mapa{

    height: 450px;
    width: 800px;
    background-image: url(mapa.jpg);
    background-repeat: no-repeat;
    
}

.celulares{

    height: 383px;
    width: 484px;
    background-image: url(celulares.jpg);
}

.negatividad{

    height: 244px;
    width: 329px;
    background-image: url(negatividad.jpg);
    background-repeat: no-repeat;
}

.criticar{

    height: 338px;
    width: 462px;
    background-image: url(criticar.jpg);
}
